.chart-container {
    display: flex;
    flex-direction: column;
    margin: 16px;
    height: auto; /* Permite extinderea în funcție de conținut */
    width: 100%;
    background-color: #f8f9fa;
    color: #0e1116;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden; /* Eliminăm scrollbar-ul */
}

.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; /* Spațiu sub antet */
    flex-wrap: wrap; /* Permite ca elementele să treacă pe linii noi */
}

.chart-buttons {
    display: flex;
    gap: 10px; /* Spațiu între butoane */
    margin-top: 10px; /* Spațiu între titlu și butoane */
}

.chart-buttons button {
    padding: 10px 15px;
    background-color: #0e1116;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s;
}

.chart-buttons button.active,
.chart-buttons button:hover {
    background-color: #003554;
    color: #ffffff;
}

.chart-content {
    display: grid; /* Layout de tip grilă */
    grid-template-columns: 1; /* Ajustează numărul de coloane */
    gap: 20px; /* Spațiere între grafice */
    justify-items: center; /* Centrează fiecare grafic */
    align-items: center; /* Centrează fiecare grafic vertical */
    width: 100%;
    margin-top: 20px; /* Spațiu între butoane și grafice */
}

.chart-item {
    background-color: #ffffff;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Umbră subtilă */
    width: 100%;
    max-width: 700px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chart-item h3 {
    margin-bottom: 10px;
    font-size: 1rem; /* Dimensiune font pentru titlu */
    text-align: center;
    color: #333;
}
