.chart-container {
    width: 100%; 
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    background-color: #223449;
    border-radius: 10px;
    overflow: hidden;
}

.chart-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    width: 100%;
}

canvas {
    width: 100% !important;
    height: auto !important;
}

@media (max-width: 768px) {
    .chart-content {
        grid-template-columns: 1fr;
    }
}


.chart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.chart-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 0.625rem;
}

.chart-buttons button {
    padding: 0.625rem 1rem;
    background-color: #314b68; /* Albastru închis */
    color: #e5e7e6; /* Alb pentru text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: background-color 0.3s ease;
}

.chart-buttons button.active,
.chart-buttons button:hover {
    background-color: #358ef3; /* Albastru deschis */
    color: #ffffff; /* Text alb */
}

.chart-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Flexibil: 1 sau mai multe coloane */
    gap: 3rem; /* Spațiu între grafice */
    width: 100%;
    margin-top: 1.25rem;
}
canvas {
    width: 100% !important;
    height: auto !important;
}

.chart-item {
    background-color: #101923;
    border: 1px solid #314b68;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; /* Flexibil: ocupă toată lățimea disponibilă în grilă */
    height: 300px; /* Înălțime consistentă */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


.chart-item canvas {
    width: 100% !important;
    height: 100% !important;
}


.chart-item h3 {
    margin-bottom: 0.625rem;
    font-size: 1rem;
    text-align: center;
    color: #e5e7e6; /* Text alb */
}
/* Legend container */
.chart-legend {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 0.5rem; /* Adjust space between buttons and legend */
    margin-bottom: 1rem; /* Adjust space between legend and chart */
}

/* Each legend item */
.legend-item {
    display: flex;
    align-items: center;
    font-size: 0.875rem; /* Match existing font size */
    color: #e5e7e6; /* Maintain consistent text color */
}

/* Legend color box */
.legend-color {
    width: 15px;
    height: 15px;
    margin-right: 0.5rem;
    border-radius: 3px;
}