.business-news-container {
    display: flex;
    height: 100vh;
    margin-left: 290px;
    background-color: #e5e7e6;
}

.news-content {
    color: #000; /* Aceeași culoare a textului ca navbar-links li a */
    flex-grow: 1;
    padding: 20px;
}

.news-scroll-container {
    max-height: 80vh;
    overflow-y: auto;
    padding-right: 10px;
    display: grid; /* Activează layout-ul grilă */
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); /* Coloane responsive */
    gap: 20px; /* Spațiere între articole */
}

.news-article {
    margin: 0;
    padding: 0; /* Eliminăm padding-ul inițial */
    background-color: #003554;
    color: #ecf0f1;
    border-radius: 8px; /* Borduri rotunjite */
    display: flex;
    flex-direction: column; /* Asigurăm că imaginea și textul sunt pe verticală */
    align-items: stretch; /* Imaginea va ocupa toată lățimea */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s, background-color 0.3s;
    cursor: pointer;
    overflow: hidden; /* Asigurăm că marginile imaginii respectă bordurile rotunjite */
}

.news-article:hover {
    background-color: #2ec4b6; /* Aceeași culoare de fundal la hover ca navbar-links li a:hover */
    color: #000; /* Aceeași culoare a textului la hover ca navbar-links li a:hover */
}

.news-article h4 {
    margin: 0 0 10px;
    text-decoration: none; /* Eliminăm sublinierea */
}

.news-article p {
    margin: 10px 0 0; /* Adăugăm spațiu între descriere și titlu */
    text-decoration: none; /* Eliminăm sublinierea */
}
