
.login-container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #e5e7e6;
}

.login-card1 {
    background: #003554;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-card1 h2 {
    margin-bottom: 20px;
    color: #e5e7e6;
}

.error-message1 {
    background: #ff4d4f;
    color: #e5e7e6;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-card1 form {
    display: flex;
    flex-direction: column;
}

.login-card1 input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: #e5e7e6;
    color: #000;
}

.login-card1 input::placeholder {
    color: #a9a9a9;
}

.login-card1 button {
    width: 100%;
    padding: 10px;
    background: #e5e7e6;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-card1 button:hover {
    background: #003554;
}

.login-card1 p {
    color: #fff;
    margin-top: 20px;
}

.login-card1 p a {
    color: #e5e7e6;
    text-decoration: none;
}

.login-card1 p a:hover {
    text-decoration: underline;
}

.login-card1 .forgot-password {
    color: #a9a9a9;
    margin-bottom: 20px;
    display: block;
    text-align: left;
}
