.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #E5E7E6;
}

.register-card {
    background: #003554;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.register-card h2 {
    margin-bottom: 20px;
    color: #E5E7E6;
}

.register-card form {
    display: flex;
    flex-direction: column;
}

.register-card input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: #E5E7E6;
    color: #0e1116;
}

.register-card input::placeholder {
    color: #0e1116;
}

.register-card button {
    width: 100%;
    padding: 10px;
    background: #E5E7E6;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.register-card button:hover {
    background: #cfdbd9;
}

.register-card p {
    color: #cfdbd9;
    margin-top: 20px;
}

.register-card p a {
    color: #E5E7E6;
    text-decoration: none;
}

.register-card p a:hover {
    text-decoration: underline;
}

.contact-support {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}