/* ResetPassword.css */
.login-container3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #E5E7e6;
}

.login-card3 {
    background: #35a7ff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.login-card3 h2 {
    margin-bottom: 20px;
    color: #fff;
}

.error-message3 {
    background: #ff4d4f;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-card3 form {
    display: flex;
    flex-direction: column;
}

.login-card3 input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background: #162447;
    color: #fff;
}

.login-card3 input::placeholder {
    color: #a9a9a9;
}

.login-card3 button {
    width: 100%;
    padding: 10px;
    background: #2ec4b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.login-card3 button:hover {
    background: #1ec1a6;
}

.login-card3 p {
    color: #fff;
    margin-top: 20px;
}

.login-card3 p a {
    color: #2ec4b6;
    text-decoration: none;
}

.login-card3 p a:hover {
    text-decoration: underline;
}

.login-card3 .forgot-password {
    color: #a9a9a9;
    margin-bottom: 20px;
    display: block;
    text-align: left;
}
